@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <h3>Projeto: Sistema Web com ASP .NET Core MVC e Entity Framework</h3>
        <p>Projeto no <a href="https://github.com/rafael-azvedo/Primeiro-projeto-mvc-C-" target="_blank">GitHub</a></p>
    </div>
</div>